@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;900&family=Roboto+Mono&display=swap');

/* :root{
   
} */
.theme-light {
    --bgColor: #031321;
    --textPrimary: #fff;
    --textSecondary: rgb(153, 153, 153);
    --primaryColor: rgb(91, 255, 219);
    --accent-1: #11212d;
    --accent-2: #1a3143;
 }.theme-dark {
    --bgColor: #eefffd;
    --textPrimary: #000000;
    --textSecondary: rgb(134, 134, 134);
    --primaryColor: rgb(11, 80, 73);
    --accent-1: #9cc8cb;
    --accent-2: #71a29e;
 }

body{
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}
main{
    width: 800px;
    margin: 50px auto;
}
h1{
    color: var(--primaryColor);
    text-align: center;
}

h1 svg{
    width: 40px;
    fill: var(--primaryColor);
}

#header{
    display: grid;
    grid-template-columns: 0.8fr 2fr 0.3fr 0.55fr;
    margin: 20px 6px 30px;
    font-family: 'Roboto Mono', monospace;
    background: var(--accent-1);
    padding: 0.4rem 0.6rem;
    border-radius: 5px;
    justify-content: center;    
}
#timer{
    display: flex;
    gap: 5px;
    display: flex;
    justify-content:center;
}
#themechanger svg{
    height: 15px;
    fill: var(--textSecondary);
    transform: translateY(2px);
}
#buttons{
    text-align: right;
    display: flex;
}
#info{
    color: var(--primaryColor);
}
button{
    /* background: rgba(255, 255, 255, 0.2); */
    background: transparent;
    font-family: 'Roboto Mono', monospace;
    border: none;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 4px 20px;
    cursor: pointer;
}

div#game{
    margin-top: 100px;
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
    -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}
#words{
    filter: blur(5px);
    color: var(--textSecondary);
}
#game:focus #words{
    filter: blur(0);
}
#game:focus #focuserror{
    display: none;
}
#game:focus #cursor{
    display: block;
}
#focuserror{
    position: absolute;
    inset: 0;
    text-align: center;
    padding-top: 35px;
    font-family: 'Roboto Mono', monospace;
}
div.word{
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}
.letter.correct{
    color: var(--textPrimary);
}
.letter.incorrect{
    color: #f55;
}
#newGameBtn{
    font-family: 'Roboto Mono', monospace;
    background: var(--accent-2);
    place-self: center;;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }  
}
/* blinking cursor */
#cursor{
    display: none;
    width: 2px;
    height: 1.6rem;
    background: var(--primaryColor);
    position: fixed;
    animation: blink 1s infinite;
    transition: all 0.1s;
}
#game.over #words{
    opacity: 50%;
    filter: blur(0);

}
#game.over:focus #cursor{
    display: none;
}
#game.over #focuserror{
    display: none;
}


#controls{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
#controls svg{
    fill: var(--textSecondary);
    height: 20px;
    width: 20px;
    transition: all .18s;
}
#controls svg:hover{
    height: 23px;
    width: 23px;
    transform: scale(1.1);
}
#reset{
    display: flex;
    background: var(--accent-1);
    width: 80px;
    height: 50px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}